*{
    box-sizing: border-box;
}
body{
    background-image: url(../img/1.webp);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    font-weight: bold;
    color: rgb(179, 197, 245);
    -webkit-text-stroke: #050788 2px;
    font-size: 2em;
    background-color: rgba(194, 194, 255, 0.658);
    width: 60vw;
    margin: auto;
    border-radius: 5em;
    padding: 1em;
}
#tabella {
background-color: rgb(188, 188, 248);
width: 80vw;
margin: 2em auto;
border-radius: 5em;
border: ridge 1em #050788;
box-shadow: 0px 0px 28px 17px rgba(0, 0, 0, 0.712);
padding: 2em;
}
.center{
    text-align: center;
}
.cell{
    display: inline-block;
    font-weight: 900;
    color: black;
    background-color: wheat;
    width: 5.7%;
    height: 10%;
    margin: 1em;
    text-align: center;
    padding: 1em 0;
}
#seleziona{
    background-color: antiquewhite;
    padding: 2em;
    width: 30vw;
    margin: auto;
    border-radius: 5em;
    box-shadow: inset -13px 17px 50px -5px rgba(0, 0, 0, 0.705),0px 0px 28px 7px rgba(0, 0, 0, 0.712);
}
#RESET{
    padding: 1em;
    font-size: 3em;
    border-radius: 1em;
    background-color: aqua;
    color: blueviolet;
    box-shadow: inset -13px 17px 50px -5px rgba(0, 0, 0, 0.705),0px 0px 28px 7px rgba(0, 0, 0, 0.712);
    text-align: center;
    
}
#reset{
    margin: 2em auto;
    text-align: center;
}
#tPlayer{
    background-color: bisque;
    text-align: center;
}
.scheda{
    background-color: azure;
    border: 1px solid black;
    border-radius: 2em;
    margin: 2em;
    text-align: center;
    width:40%;
    display: inline-block;
}