html{
    background-image: url(/FE-S1-L4-Esercizio/assets/img/sfondo.png);
    font-family: "Poppins", serif;
}
header, main, aside, footer {
    box-shadow: -4px 8px 4px -4px black;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
}
header{
    padding-bottom: 40px;
}
header div img{
    margin-bottom: 20px;
}
header div p{
    margin-bottom: 20px;
}
main, aside{
    background-color: white;
}
body{
    width: 80vw;
    margin: 50px auto;
    padding: auto;
}
hr{
    border-color: blue;
    width: 88%;
}
.gray{
    background-color: gray;
}
header{
background: linear-gradient(0deg, rgba(1,57,62,1) 0%, rgba(1,159,163,1) 100%);
box-sizing: border-box;
width: 100%;
color: white;
text-transform:uppercase;
text-align: center;
}
header a{
    color: inherit;
}
.big{
    font-size: 2em;
}
h1{
    margin-bottom: 20px;
}
iframe{
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    width: 100%;
}
.purple th{
    background-color:blue;
}
caption{
    font-weight: bold;
    font-style: italic;
}
.col{
    background-color: #c5c5c5;
}
.col td{
    border-top: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
}

aside .big{
    text-transform: uppercase;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside div{
    width: 85%;
    height: 80px;
    margin: 15px;
    padding: 20px;
}
aside a{
    color: #006a7c;
}
footer{
    background: linear-gradient(180deg, rgba(107,133,135,1) 0%, rgba(30,34,34,1) 100%);
}
footer a{
    color:violet;
}
section{
    padding: 20px;
}